@charset "utf-8";
/* CSS Document */
/**
 * Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
   Your notes
}
#content,#page {
width: 100%; 
margin: 0; 
float: none;
}


